body {
 background-color: #109CFF !important;
}

h1{
    color: #FF4500;
    -webkit-text-stroke: 1px white;
}

img{
    height: 25vh !important
}

#Instructions{
    height: 30vh !important;    
}

p{
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FF4500;
    -webkit-text-stroke: 1px white;
}

.Selections:hover{
    transform: scale(1.5);
    transition-duration: 0.4s;
}
